body {
  margin: 0;
  padding: 0;
}

.progress-bar-container {
  background-color: rgb(121, 121, 121);
  height: 30px;
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.progress-bar {
  background-color: #002C55;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
}
